<div class="container-fluid">
    <button class="btn btn-danger" style="float: right;">Logout</button>
    <a href="/teacher">Back</a>
    <h3>Add new record</h3>
    <form action="/users/addSuccess" method="post">
        <fieldset>
            <label>Roll number:</label>
            <input type="number" id="id" name="rollno"> 
            <br><br>
            <label>Name :</label>
            <input type="text" id="name" name="name"  >
            <br><br>
            <label>Dob : </label>
            <input type="date" id="dob" name="dob">
            <br><br>
            <label>Score :</label>
            <input type="number" id="score" name="score">
            <br><br>
            <button type="submit" class="btn btn-primary">Add</button>
        </fieldset>
    </form>
</div>